---

- name: install vim and required packages
  apt:
    update_cache: yes
    state: latest
    name: ['git', 'ack', 'cmake', 'python3-pip', 'python3-dev', 'exuberant-ctags', 'bear', 'vim-gnome']
  tags: vim

- name: install python3 packages
  pip:
    executable: pip3
    state: latest
    name: ['frozendict', 'future']
  tags: vim

- name: copy vimrc
  copy: src=./files/vimrc dest={{ user_home }}/.vimrc
        owner={{ user }}
        group={{ user_group }}
  tags:
      - vim
      - vimrc

- name: create .vim folder
  file: path={{ user_home }}/.vim/bundle
        state=directory
        owner={{ user }}
        group={{ user_group }}
        mode=0750
  tags: vim

- name: install vundle as plugin manager
  git: repo=https://github.com/VundleVim/vundle.vim.git
       dest={{ user_home }}/.vim/bundle/Vundle.vim
  become_user: "{{ user }}"
  become_method: sudo
  tags: vim

- name: install vim plugins with vundle
  command: vim +PluginInstall +qall
  become_user: "{{ user }}"
  become_method: sudo
  tags: vim

- name: clone submodules of YouCompleteMe
  command: git submodule update --init --recursive
           chdir={{ user_home }}/.vim/bundle/YouCompleteMe
  become_user: "{{ user }}"
  become_method: sudo
  tags: vim

# remove --tern-completer
# because does not compile on trusty
- name: compile YouCompleteMe
  command: ./install.py --clang-completer
           chdir={{ user_home }}/.vim/bundle/YouCompleteMe
  become_user: "{{ user }}"
  become_method: sudo
  tags: vim
